# QT Creator
build/ui_toolbox.h
build/moc_toolbox.cpp
build/moc_configurationdialog.cpp
build/moc_xtalthread.cpp
build/XTAL-GUI
build/*.inp
XTAL-GUI.pro.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

